<header class="map-log__header">
  <div (click)="toggle('RESULT')"
       class="app-button"
  >Results
  </div>
  <div (click)="toggle('EXP')"
       class="app-button"
  >
    Text explanation
  </div>
  <div (click)="toggle('CODE')"
       class="app-button map-log__show-code _button"
  >
    Source code
  </div>
</header>

<app-results [hidden]="_showCode || _showExplanation"></app-results>

<app-code *ngIf="_showCode"></app-code>
<app-explanation *ngIf="_showExplanation"></app-explanation>
