<header class="map-log__header">

    <button class="map-log__show-code _button" (click)="showCode = !showCode">
        <p *ngIf="showCode">Hide code</p>
        <p *ngIf="!showCode">Show code</p>
    </button>
    <div class="map-log__switch"
         *ngIf="!showCode"
    >
        Show inner observable value
        <label class="switch">
            <input type="checkbox"
                   (change)="mergeShowIO = !mergeShowIO"
            >
            <span class="slider round"></span>
        </label>
    </div>
</header>

<article class="map-log__results"
         *ngIf="!showCode; else code"
>
    <div class="map-log">
        <h1>mergeMap</h1>
        <p class="map-log__message"
           *ngFor="let message of mergeMessages; trackBy: trackByFn"
           [class._store]="message.type === 'IN'"
           [class._kitchen]="message.type === 'KITCHEN'"
           [class._delivery]="message.type === 'OUT'"
        >
            <ng-container *ngIf="message | checkVisibility: mergeShowIO">
                {{message.id}}
            </ng-container>
        </p>
    </div>
    <div class="map-log">
        <h1>switchMap</h1>
        <p class="map-log__message"
           *ngFor="let message of switchMessages; trackBy: trackByFn"
           [class._store]="message.type === 'IN'"
           [class._kitchen]="message.type === 'KITCHEN'"
           [class._delivery]="message.type === 'OUT'"
        >
            <ng-container *ngIf="message | checkVisibility: mergeShowIO">
                {{message.id}}
            </ng-container>
        </p>
    </div>
    <div class="map-log">
        <h1>map</h1>
        <p class="map-log__message"
           *ngFor="let message of mapMessages; trackBy: trackByFn"
           [class._store]="message.type === 'IN'"
           [class._kitchen]="message.type === 'KITCHEN'"
           [class._delivery]="message.type === 'OUT'"
        >
            <ng-container *ngIf="message | checkVisibility: mergeShowIO">
                {{message.id}}
            </ng-container>
        </p>
    </div>
</article>

<ng-template #code>
    <pre>
        <code>
    private handleOrder(name: string, delay): Observable &#123;
        return new Observable((observer: Subscriber) => &#123;
            const orders: string[] = ["address1", "address2", "address3"];
            setInterval(() => &#123;
                const value = "orders.shift();
                observer.next(value);
                if (!orders.length) &#123;
                    observer.complete();
                }}, delay);});
    }

    private getPeople(delay: number): Observable &#123;
            return new Observable((observer) => &#123;
            const names = ["John", "Sara", "Adam"];
            const id = setInterval(() => &#123;
            if (!names.length) &#123;
                    clearInterval(id);
                    observer.complete();
                    return;
                }
                observer.next(names.shift());
            }, delay);});
    }

    test(delay: number, delayInner: number) &#123;
            this.getPeople(this.mergeMessages, delay).pipe(mergeMap((name: string) => &#123;
            return this.handleOrder(name, this.mergeMessages, delayInner);
        })).subscribe(message => log(message), () => &#123;
        }, () => &#123;
            this.getPeople(this.switchMessages, delay).pipe(switchMap((name: string) => &#123;
            return this.handleOrder(name, this.switchMessages, delayInner);
            })).subscribe(message => log(message)), () => &#123;
            }, () => &#123;
            this.getPeople(this.mapMessages, delay).pipe(map((name: string) => &#123;
                    return "name + "'s address";
                })).subscribe(message => log(message));
            }); });
    }
    </code></pre>
</ng-template>